@mixin background($color) {
	background-color: $color;
}

@mixin buttons($color, $decoration, $outline: none, $display: inline-block, $transform: none, $size: $font-size) {
  color: $color;
  text-decoration: $decoration;
  outline: $outline;
  display: $display;
  text-transform: $transform;
  font-size: $size;
}