/*
|--------------------------------------------------------------------------
| Colors
|--------------------------------------------------------------------------
*/
$black:            #000000;
$gray-darker:      lighten($black, 13.5%); // #222222
$gray-dark:        lighten($black, 20.0%); // #333333
$gray:             lighten($black, 33.5%); // #555555
$gray-light:       lighten($black, 46.7%); // #777777
$gray-lighter:     lighten($black, 93.5%); // #EEEEEE
$white:            #FFFFFF;

$brand-primary:    #337AB7;
$brand-success:    #5CB85C;
$brand-info:       #5BC0DE;
$brand-warning:    #F0AD4E;
$brand-danger:     #D9534F;

$body-bg:          $white;

/*
|--------------------------------------------------------------------------
| Typography
|--------------------------------------------------------------------------
*/
$font-family:              "Helvetica Neue", Helvetica, Arial, sans-serif;
$text-color:               $gray-dark;
$link-color:               $brand-primary;
$link-hover-color:         darken($link-color, 15%);
$link-hover-decoration:    underline;

/*
|--------------------------------------------------------------------------
| Media Queries Breakpoints
|--------------------------------------------------------------------------
*/
$screen-xs-min:    480px;
$screen-sm-min:    768px;
$screen-md-min:    992px;
$screen-lg-min:    1200px;

$screen-xs-max:    ($screen-sm-min - 1);
$screen-sm-max:    ($screen-md-min - 1);
$screen-md-max:    ($screen-lg-min - 1);
