/*
|--------------------------------------------------------------------------
| Boxes
|--------------------------------------------------------------------------
*/
	/*
	|--------------------------------------------------------------------------
	| Box Primary
	|--------------------------------------------------------------------------
	*/
	.content-box_primary {

	}
	/*
	|--------------------------------------------------------------------------
	| Box Secundary
	|--------------------------------------------------------------------------
	*/
	.content-box_secundary {
	}
/*
|--------------------------------------------------------------------------
| Banner
|--------------------------------------------------------------------------
*/
.banner {
	background: $bg_banner;	
	.title-section {
		padding: 15px;
		text-align: center;
		border-bottom: 1px solid white;
	}
	.content-banner {
		.description {
			padding: 15px;
		}
		.image {
			height: $banner-image_size;
			border: solid 30px $secundary-color;
			border-left: solid 60px $secundary-color;
			border-right: solid 60px $secundary-color;
			@media screen and (max-width: $screen-md-min) { 
				border: solid 0px $secundary-color;
				border-left: solid 0px $secundary-color;
				border-right: solid 0px $secundary-color;
				margin-bottom: 30px;
			}
		}
	}
}
/*
|--------------------------------------------------------------------------
| Comments
|--------------------------------------------------------------------------
*/
.comments {
	background: $bg_comments;
	#content-tweets {
		.tweets {
			text-align: center;
			.item {
				padding: 70px;
			}
		}
	}
}
/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/
.footer {
	background: $bg_footer;
	.btn_secundary {
		&:hover {
			color: white!important;
		}
	}
}

/*
|--------------------------------------------------------------------------
| Title section
|--------------------------------------------------------------------------
*/
.box-title-section-primary{
	padding: 20px;
	background: $bg_title_section-primary;
}
.box-subtitle-section-primary {
	padding: 10px;
	background: $bg_title_section-primary;
}
.box-title-section-secundary {
	padding: 10px;
	border-radius: 3px;
	margin-top: 15px;
	background: $bg_title_section-secundary;
	border-style: solid;
	border-width: 0px 1px 2px;
	border-color: #d8d8d8;
	border-sizing: border-box;
	border-bottom: 5px solid $secundary-color;

}
/*
|--------------------------------------------------------------------------
| Background Video ---- bg-video
|--------------------------------------------------------------------------
*/
.video {
	position: relative;
	display: block;
	height: $bg-video-size;
}
/*
|--------------------------------------------------------------------------
| Contacto
|--------------------------------------------------------------------------
*/
.contactanos {
	.box_secundary-title {
		font-size: $font-size;
		text-transform: none;
	}
}
/*
|--------------------------------------------------------------------------
| Sucursales
|--------------------------------------------------------------------------
*/
.title-sucursales {
	background: white;
	text-align: left;
	padding-top: 10px;
	.icon {
		width: 60px;
    	display: inline-block;
    	border-left: 2px solid #ed282f;
    	padding: 10px;	
	}
	.title {
		display: inline-block;
    	vertical-align: middle;
    	color: #ed282f;
    	font-weight: 300;
	}
}
.sucursales {
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
	.content-sucursales {
		.sucursal {
			margin-bottom: 40px;
			.container-dates-sucursal {
				border-right: solid 3px #ed282f;
				h1 {
					color: $bg_title_section-primary;
					font-size: 20px;
					font-weight: 200;
				}
				.direccion {
					font-size: 11px;
    				font-weight: 500;
				}
				p {
					color: #635E5E;
				}
			}
		}
	}
}
/*
|--------------------------------------------------------------------------
| Descargas
|--------------------------------------------------------------------------
*/
.download_archive {
	.container-archive {
		display: flex;
		align-items: center;
		@media screen and (max-width: $screen-xs-min) { 
			display: block;
		}

	}
}
/*
|--------------------------------------------------------------------------
| Single
|--------------------------------------------------------------------------
*/
.single {
	padding-top: 20px;
	padding-bottom: 20px;
}
/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
*/
#content-header {
	.carousel-inner {
		margin: 0px;
	}	
}
/*
|--------------------------------------------------------------------------
| Carousel
|--------------------------------------------------------------------------
*/
.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}



