/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/
.footer {
	.footer-content {
		padding: 15px;
		display: flex;
		@media screen and (max-width: $screen-md-min) { 
			display: block;
		}
		.footer-section {
		}
		.logo {}
		.company {}

		.newsletter {
			.register-correo {
				margin-right: 10px;
			}
		}
		.contact {
			.social-media {
				margin-top: 35px;
				.icon {
					.color {
						color: white;
					}
				}
				.facebook {
					.background {
						color: #527DBB;
					}
				}
				.twitter {
					.background {
						color: #69CBEC;
					}
				}
				.youtube {
					.background {
						color: #EF6464;
					}
				}
				.google {
					.background {
						color: #DD4F43;
					}
				}
			}
		}
	}
}
	