/*
|--------------------------------------------------------------------------
| Button primary
|--------------------------------------------------------------------------
*/
$btn-primary_padding: 			10px 50px;
$btn-primary_margin:			10px;
$btn-primary_display:			inline-block;
$btn-primary_border_size: 		1px;
/*
|--------------------------------------------------------------------------
| Button secundary
|--------------------------------------------------------------------------
*/
$btn-secundary_padding: 		10px 20px;
$btn-secundary_margin:			10px;
$btn-secundary_display:			inline-block;