/*
|--------------------------------------------------------------------------
| General
|--------------------------------------------------------------------------
*/
$primary-color:			#f37735;
$secundary-color:		#ed282f;
$gray:					#6F6F6F;
$gray_darker:			#222222;				
/*
|--------------------------------------------------------------------------
| Background ------- bg
|--------------------------------------------------------------------------
*/
	/*
	|--------------------------------------------------------------------------
	| Body
	|--------------------------------------------------------------------------
	*/
	$bg_body:			#DDDDDD;
	/*
	|--------------------------------------------------------------------------
	| Box
	|--------------------------------------------------------------------------
	*/
	$bg_box:			#FFFFFF;
	/*
	|--------------------------------------------------------------------------
	| Footer
	|--------------------------------------------------------------------------
	*/
	$bg_footer:			#151515;
	/*
	|--------------------------------------------------------------------------
	| Navigation
	|--------------------------------------------------------------------------
	*/
	$bg_navigation:		#ffffff;
	/*
	|--------------------------------------------------------------------------
	| Header
	|--------------------------------------------------------------------------
	*/
	$bg_header:			#ed282f;		
	/*
	|--------------------------------------------------------------------------
	| Banner
	|--------------------------------------------------------------------------
	*/
	$bg_banner:			#ed282f;
	/*
	|--------------------------------------------------------------------------
	| Comments
	|--------------------------------------------------------------------------
	*/
	$bg_comments:		white;
	/*
	|--------------------------------------------------------------------------
	| Title Section 
	|--------------------------------------------------------------------------
	*/
		/*
		|--------------------------------------------------------------------------
		|  Title Section  primary
		|--------------------------------------------------------------------------
		*/
		$bg_title_section-primary:			black;
		/*
		|--------------------------------------------------------------------------
		|  Title Section  secundary
		|--------------------------------------------------------------------------
		*/
		$bg_title_section-secundary:		white;
/*
|--------------------------------------------------------------------------
| Fonts
|--------------------------------------------------------------------------
*/
	/*
	|--------------------------------------------------------------------------
	| General
	|--------------------------------------------------------------------------
	*/
	$primary-text_color:       	#2d2d2d;
	$secundary-text_color:     	#151515;
	/*
	|--------------------------------------------------------------------------
	| Navigation -------- nav
	|--------------------------------------------------------------------------
	*/
	$nav-border_color:				#EA2C36;
	$nav-section_color:				#6F6F6F;
	/*
	|--------------------------------------------------------------------------
	| Header --------- hdr
	|--------------------------------------------------------------------------
	*/
	$hdr-title_color:		#F1783F;
	$hdr-subtitle_color:     white;
	/*
	|--------------------------------------------------------------------------
	| Banner -------- bnn
	|--------------------------------------------------------------------------
	*/
	$bnn-title_color:			white;
	$bnn-box-title_color:		white;
	$bnn-box-subtitle_color:    white;
	/*
	|--------------------------------------------------------------------------
	| Comments -------- cmms
	|--------------------------------------------------------------------------
	*/
	$cmms-icon_color:			#ed282f;
	$cmms-icon-text_color:		#ed282f;
	$cmms-user_color:			#EA2C36;
	$cmms-time_color:			white;
	$cmms-comment_color:		#B2B2B2;
	$cmms-control_background:   black;
	$cmms-control_border:		black;	
	/*
	|--------------------------------------------------------------------------
	| Footer -------- fotr
	|--------------------------------------------------------------------------
	*/
	$fotr-titles_color:			white;
	$fotr-subtitles_color:		white;
	/*
	|--------------------------------------------------------------------------
	| Blockquote -------- blk
	|--------------------------------------------------------------------------
	*/	
	$blk-border_color:			#ed282f;
	/*
	|--------------------------------------------------------------------------
	| Texti time -------- tt
	|--------------------------------------------------------------------------
	*/	
	$tt-color:				#151515;
/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
*/
	/*
	|--------------------------------------------------------------------------
	| Primary
	|--------------------------------------------------------------------------
	*/
	$btn-primary_color:				white;
	$btn-primary_background:		transparent;
	$btn-primary_border_color:		white;
	/*
	|--------------------------------------------------------------------------
	| Secundary
	|--------------------------------------------------------------------------
	*/
	$btn-secundary_color:			white;
	$btn-secundary_background:		#EA2C36;
/*
|--------------------------------------------------------------------------
| Input -------- inp
|--------------------------------------------------------------------------
*/
		/*
		|--------------------------------------------------------------------------
		| Input Search -------- inp
		|--------------------------------------------------------------------------
		*/
		$inp-search_color:			#6F6F6F;
		$inp-search_background:		transparent;
		/*
		|--------------------------------------------------------------------------
		| Input Text --- inp
		|--------------------------------------------------------------------------
		*/
		$inp-text_color:			white;
		$inp-text-border_color:		white;
		$inp-text_background:		transparent;
/*
|--------------------------------------------------------------------------
| Title Section  ------stn
|--------------------------------------------------------------------------
*/
$stn-title_color:		#6F6F6F;
	/*
	|--------------------------------------------------------------------------
	| Title Section primary
	|--------------------------------------------------------------------------
	*/
	$stn_title-primary-color:			white;
	/*
	|--------------------------------------------------------------------------
	| Title Section secundary
	|--------------------------------------------------------------------------
	*/
	$stn_title-secundary-color:			#ed282f;

