/*
|--------------------------------------------------------------------------
| Input Text --- inp
|--------------------------------------------------------------------------
*/
$inp_text-padding:			10px 20px;
$inp_text-align:			center;
$inp_text-inline_block:		inline-block;
$inp_text-block:			block;
$inp_text-border_radius: 	10px;
