/*
|--------------------------------------------------------------------------
| Navigation -------- nav
|--------------------------------------------------------------------------
*/
$nav-logo-size:			60px;

/*
|--------------------------------------------------------------------------
| Background image -------- bg-image
|--------------------------------------------------------------------------
*/
$bg-image_position:		center!important;
$bg-image_repeat:		no-repeat!important;
$bg-image_size:			cover!important;
$bg-image_color:		white!important;
/*
|--------------------------------------------------------------------------
| Boxes ---- box
|--------------------------------------------------------------------------
*/
	/*
	|--------------------------------------------------------------------------
	| Box-primary -------- box
	|--------------------------------------------------------------------------
	*/
	$box-1-image_size:			200px;
	/*
	|--------------------------------------------------------------------------
	| Box-secundary -------- box
	|--------------------------------------------------------------------------
	*/
	$box-2-image_size:			500px;
/*
|--------------------------------------------------------------------------
| Banner
|--------------------------------------------------------------------------
*/
$banner-image_size:			300px;
/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/
$footer-image_size:			100px;
/*
|--------------------------------------------------------------------------
| Background Video ---- bg-video
|--------------------------------------------------------------------------
*/
$bg-video-size:				500px;