/*
|--------------------------------------------------------------------------
| header
|--------------------------------------------------------------------------
*/
	/*
	|--------------------------------------------------------------------------
	| Layer-left
	|--------------------------------------------------------------------------
	*/
	.layer-left { 
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 250px;
		border-bottom: 500px solid #000;
		@media screen and (max-width: $screen-xs-min) { 
			display: none;
		}
		.extencion {
			position: absolute;
			border-top: 500px solid #000;
			border-right: 300px solid transparent;
			left: 250px;
		}
	}
	/*
	|--------------------------------------------------------------------------
	| Layer-right
	|--------------------------------------------------------------------------
	*/
	.layer-right {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 2;
		width: 191px;
		border-bottom: 300px solid #000;
		border-left: 191px solid transparent;
		@media screen and (max-width: $screen-xs-min) { 
			display: none;
		}
	}
	/*
	|--------------------------------------------------------------------------
	| Description
	|--------------------------------------------------------------------------
	*/
	.header-description {
		padding: 100px 15px;
		z-index: 3;
		.header-title {
			color: white;
			font-size: $hdr-title-size;
			text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
			@media screen and (max-width: $screen-xs-min) { 
				color: white;
			}
		}
		.header-subtitle {
			text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
			color: $hdr-subtitle_color;
			font-size: $hdr-subtitle-size;
		}
	}
/*
|--------------------------------------------------------------------------
| Boxes
|--------------------------------------------------------------------------
*/
.box {
	padding: 15px;
}
	/*
	|--------------------------------------------------------------------------
	| Box Primary
	|--------------------------------------------------------------------------
	*/
	.box_primary {
		text-decoration: none;
		&:hover {
			.box_primary-title {
				color: $secundary-color;
			}
		}
		.box_primary-content {
			display: flex;
			@media screen and (max-width: $screen-sm-min) { 
				display: block;
			}
			&:hover .description {
				background: #333333;
				transition: all 0.2s ease-in-out;
			}
			&:hover .image {
				transition: all 0.2s ease-in-out;
			}
			.image {
				height: $box-1-image_size;
				border-style: solid;
				border-width: 0px 1px 2px;
				border-color: #d8d8d8;
				border-sizing: border-box;
				border-right: 5px solid rgb(221, 221, 221);
				@media screen and (max-width: $screen-md-min) { 
					border: none;
					border-top-left-radius: 2px;
					border-top-right-radius: 2px;
					border-style: solid;
					border-width: 0px 1px 2px;
					border-color: #d8d8d8;
					border-sizing: border-box;
				}
				
			}
			.description {
				background: $bg_box;
				border-bottom: 3px solid $secundary-color;
				border-radius: 3px;
				border-style: solid;
				border-width: 0px 1px 2px;
				border-color: #d8d8d8;
				border-sizing: border-box;
				border-bottom: 3px solid $secundary-color;
				h1 {
					@media screen and (max-width: $screen-md-min) { 
						padding-top: 5px;
						margin-top: 5px;
					}
				}
				@media screen and (max-width: $screen-md-min) {  
					border-top-left-radius: 0px;
					border-top-right-radius: 0px;
				}
			}
		}
	}

	/*
	|--------------------------------------------------------------------------
	| Box Secundary
	|--------------------------------------------------------------------------
	*/
	.content-box_secundary {
		.boxes_secundary {
			background: $bg_box;
			.box_secundary {
				.box_secundary-content {
					display: flex;
					@media screen and (max-width: $screen-md-min) { 
						display: block;
					}

					.image {
						height: $box-2-image_size;
					}
					.description {
						padding: 30px;
					}
				}

			}
		}
		.two {
			background: $gray_darker;
			.box_secundary {
				.box_secundary-content {
					display: block;
					.description {
						float: right;
						@media screen and (max-width: $screen-md-min) { 
							float: none;
						}
						.box_secundary-title  {
							color: white;
						}
						.box_secundary-subtitle {
							color: white;
						}

					}
				}
			}
		}
	}
	/*
	|--------------------------------------------------------------------------
	| Box Single
	|--------------------------------------------------------------------------
	*/
	.box-single {
		.box-single-content {
			background: $bg_box;
			border-right: 10px solid rgb(221, 221, 221);
		}
		.box-single-image {
			height: 500px;
		}
	}
	/*
	|--------------------------------------------------------------------------
	| Box Lin
	|--------------------------------------------------------------------------
	*/
	.box-link {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
/*
|--------------------------------------------------------------------------
| Background-video ----- bg-video
|--------------------------------------------------------------------------
*/
.bg-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin-left: 0px;
	video {
		width: 100%;
		height: 100%;
	}
}
.video {
	.background-image-radikal {
		position: absolute;
    	width: 100%;
    	height: 100%;
    	margin-left: -15px;
    	margin-right: -15px;
    	img {
			width: 350px;
			float: right;
			margin-top: 120px;
			margin-right: 150px;
    	}
    	#image-radikal {
    		display: none;
    	}
	}
	#video-image {
		display: none;
		transition: all 1s ease-in-out;
	}
}
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../uploads/images/slider1.jpg) no-repeat;
    background-size: cover;
    transition: all 0.2s ease-in-out; 
}
.layer-video {
	position: absolute;
	top: 0;
	right: 0;
	width: 70%;
	height: 100%;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0) 2%, rgba(0,0,0,0.14) 6%, rgba(0,0,0,0.21) 10%, rgba(0,0,0,0.3) 14%, rgba(0,0,0,0.4) 18%, rgba(0,0,0,0.5) 22%, rgba(0,0,0,0.59) 26%, rgba(0,0,0,0.6) 30%, rgba(0,0,0,0.7) 34%, rgba(0,0,0,0.8) 38%, rgba(0,0,0,0.9) 42%, rgba(0,0,0,0.97) 84%, rgba(0,0,0,0.98) 90%, rgba(0,0,0,0.99) 95%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(1%, rgba(0,0,0,0)), color-stop(2%, rgba(0,0,0,0)), color-stop(6%, rgba(0,0,0,0.14)), color-stop(10%, rgba(0,0,0,0.21)), color-stop(14%, rgba(0,0,0,0.3)), color-stop(18%, rgba(0,0,0,0.4)), color-stop(22%, rgba(0,0,0,0.5)), color-stop(26%, rgba(0,0,0,0.59)), color-stop(30%, rgba(0,0,0,0.6)), color-stop(34%, rgba(0,0,0,0.7)), color-stop(38%, rgba(0,0,0,0.8)), color-stop(42%, rgba(0,0,0,0.9)), color-stop(84%, rgba(0,0,0,0.97)), color-stop(90%, rgba(0,0,0,0.98)), color-stop(95%, rgba(0,0,0,0.99)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0) 2%, rgba(0,0,0,0.14) 6%, rgba(0,0,0,0.21) 10%, rgba(0,0,0,0.3) 14%, rgba(0,0,0,0.4) 18%, rgba(0,0,0,0.5) 22%, rgba(0,0,0,0.59) 26%, rgba(0,0,0,0.6) 30%, rgba(0,0,0,0.7) 34%, rgba(0,0,0,0.8) 38%, rgba(0,0,0,0.9) 42%, rgba(0,0,0,0.97) 84%, rgba(0,0,0,0.98) 90%, rgba(0,0,0,0.99) 95%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0) 2%, rgba(0,0,0,0.14) 6%, rgba(0,0,0,0.21) 10%, rgba(0,0,0,0.3) 14%, rgba(0,0,0,0.4) 18%, rgba(0,0,0,0.5) 22%, rgba(0,0,0,0.59) 26%, rgba(0,0,0,0.6) 30%, rgba(0,0,0,0.7) 34%, rgba(0,0,0,0.8) 38%, rgba(0,0,0,0.9) 42%, rgba(0,0,0,0.97) 84%, rgba(0,0,0,0.98) 90%, rgba(0,0,0,0.99) 95%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0) 2%, rgba(0,0,0,0.14) 6%, rgba(0,0,0,0.21) 10%, rgba(0,0,0,0.3) 14%, rgba(0,0,0,0.4) 18%, rgba(0,0,0,0.5) 22%, rgba(0,0,0,0.59) 26%, rgba(0,0,0,0.6) 30%, rgba(0,0,0,0.7) 34%, rgba(0,0,0,0.8) 38%, rgba(0,0,0,0.9) 42%, rgba(0,0,0,0.97) 84%, rgba(0,0,0,0.98) 90%, rgba(0,0,0,0.99) 95%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0) 2%, rgba(0,0,0,0.14) 6%, rgba(0,0,0,0.21) 10%, rgba(0,0,0,0.3) 14%, rgba(0,0,0,0.4) 18%, rgba(0,0,0,0.5) 22%, rgba(0,0,0,0.59) 26%, rgba(0,0,0,0.6) 30%, rgba(0,0,0,0.7) 34%, rgba(0,0,0,0.8) 38%, rgba(0,0,0,0.9) 42%, rgba(0,0,0,0.97) 84%, rgba(0,0,0,0.98) 90%, rgba(0,0,0,0.99) 95%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}
.video-logo {
	img {
		margin-top: 150px;
		width: 400px;
		height: auto;
		@media screen and (max-width: $screen-xs-min) { 
			width: 100%;
		}

	}
}
/*
|--------------------------------------------------------------------------
| Layer-contacto ----- layer-contact
|--------------------------------------------------------------------------
*/
.layer-contact {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	.layer-contact_information {
		padding: 60px;
		.paragraph {
			display: flex;
			margin-bottom: 40px;
			.icon {
				display: inline-block;
				font-size: $font-size-xlarge;
				color: white;
				vertical-align: bottom;
				.fa-stack-1x {
					font-size: $font-size-mlarge;
				}
			}
			.content {
				display: inline-block;
				color: white;
				padding-left: 10px;
				p {
					display: block;
					color: white;
					font-size: $font-size-slarge;
					font-family: $font-family-secundary;
				}
				strong {
					display: block;
					color: white;
					font-size: $font-size-slarge;
					border-left: 5px solid;
					border-color: $secundary-color;
					padding-left: 10px;
				}
			}
		}
	}
}

/*
|--------------------------------------------------------------------------
| Descargas ----- download
|--------------------------------------------------------------------------
*/
.download-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 15px;
	.download-date {
		display: flex;
		align-items: center;
		.month {
			display: inline-block;
		}
		.year {
			display: inline-block;
			margin-left: 40px;
		}
	}
	.download-number-archive {
		display: flex;
		align-items: center;
		.num_archive{
		}
	}
}

.subscription {
	.input-text_secundary {
		width: 60%;
	}
	.btn {
		font-size: 13px;
	}
}
.notify-subscription {
	color: white;
	position: absolute;
    top: 174px;
    left: 35px;
}
.noty {
	position: absolute;
	left: 25px;
	top: 176px;	
}
.spinner {
	color: white;
}
.exclamation {
	color: yellow;
}
.check {
	color: rgba(0, 255, 137, 0.89);
}

