/*
|--------------------------------------------------------------------------
| Background image
|--------------------------------------------------------------------------
*/
.background-image {
	background-position: $bg-image_position;
  	background-repeat: $bg-image_repeat;
 	background-size: $bg-image_size;
  	background-color: $bg-image_color;
}
/*
|--------------------------------------------------------------------------
| Comment
|--------------------------------------------------------------------------
*/
.comment {
	.comment_icon {
		font-size: $font-size-h2;
		color: $secundary-color;
					
	}
	.coment_icon-text {
		font-size: $font-size-slarge;
		color: $secundary-color;
	}
	.comment_publication {
		font-size: $font-size-xsmall;
		color: $gray;
	}

}
/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
*/
.header {

}
/*
|--------------------------------------------------------------------------
| Comment control 
|--------------------------------------------------------------------------
*/
.comment_control {
	.comment_control-slide {
		border: solid 1px $cmms-control_border;
	}
	.active{
		background: $cmms-control_background;
	}
}
/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/
.footer {
	.footer-content {
		.footer-section {
			.footer-logo {
				width: $footer-image_size;
				height: auto;
			}
			.footer-titles {
				color: $fotr-titles_color;
				font-size: $font-size-llarge;
				font-weight: lighter;
			}
			.footer-subtitle {
				color: $fotr-subtitles_color;
				font-size: $font-size-msmall;
				font-weight: lighter;
			}
		}
	}
}